<div class="page-header">
	<h1>Vous êtes Client de Baobât ? <small>Veuillez vous inscrire pour suivre votre chantier</small></h1>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  	<div class="col-md-6">
	  	<p class="lead justify">
	  		Votre Espace Client permet de suivre l'état d'avancement de vos travaux. Veuillez vous inscrire gratuitement pour suivre vos chantiers à distance, depuis votre ordinateur, tablette ou smartphone.
	  		<%= image_tag('espace_client.jpg', class: "featurette-image img-responsive") %>
	  	</p>
	  </div>

	  <div class="form-inputs col-md-5 pull-right well">
	    <%= f.input :first_name, :required => true, label: "Prénom", :autofocus => true %>
	    <%= f.input :last_name, :required => true, label: "Nom" %>
	    <%= f.input :email, :required => true %>
	    <%= f.input :password, :required => true, label: "Mot de passe" %>
	    <%= f.input :password_confirmation, :required => true, label: "Confirmation du mot de passe" %>
	    <%= f.button :submit, "Valider mon inscription", class: "pull-right btn-success" %>
	  </div>
  </div>
<% end %>

<!--<%= render "devise/shared/links" %>-->
