<%= simple_form_for [@project, @status] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :project_id, label: 'project_id' %>
    <%= f.input :content, label: 'Contenu' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
