<div class="page-header">
  <h1>Projet : <%= @project.title %> <span class="label label-default pull-right"><%= @project.statuses.count %></span></h1>
</div>

<div>
  <%= link_to 'Nouveau statut', new_project_status_path, class: 'btn btn-primary' %>
</div>

<br>

<% @project.statuses.order('created_at DESC').each do |status| %>
  <div class="status media">
    <a class="pull-left" href="">
      <%= image_tag status.image.url(:thumb), class: 'thumbnail' if status.image? %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= status.project_id %></h4>
      <p><%= status.content %></p>
    </div>
    
    <div class="meta">
      <%= link_to 'Publié il y a ' + time_ago_in_words(status.created_at), project_status_path(status) %>
      <span class="admin">
        | <%= link_to 'Edit', edit_project_status_path(status) %> |
        <%= link_to 'Delete', project_status_path(status), method: :delete, data: { confirm: 'Etes vous sûre de vouloir supprimer ce statut'}  %>
      </span>
    </div>
  </div>
<% end %>

<%= link_to 'Back', projects_path %>