<div class="page-header">
	<h1>Liste des projets <span class="label label-default pull-right"><%= @projects.count %></span></h1>
</div>

<div class="container">
	<%= link_to new_project_path, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-plus"></span> Ajouter un projet
	<% end %>
</div>

<br>

<% @projects.each do |project| %>
	<div>
		<div class="col-md-6">
		  <div class="projects panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title"><%= project.title %></h3>
		    </div>
		    <div class="panel-body">
		    	<p><%= project.description %></p>
		    	<hr>
			    <span class="projects-admin">
			    	<%= link_to project_statuses_path(project) do %>
			      	<span class="glyphicon glyphicon-list-alt"></span> Statuts
			      <% end %>
			      | <%= link_to edit_project_path(project) do %>
			      	<span class="glyphicon glyphicon-edit"></span> Éditer
			      <% end %>
			      | <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
			      	<span class="glyphicon glyphicon-trash"></span> Supprimer
			      <% end %>
			    </span>
			  </div>
		  </div>
		</div>
	</div>
<% end %>




