<nav class="navbar navbar-default" role="navigation">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png'), root_path, class: "navbar-brand img-responsive" %><%=  %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-nav">
        <li>
          <%= link_to 'Qui sommes-nous ?', pages_about_us_path %>
        </li>
        <li>
          <%= link_to 'Références', pages_references_path %>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <%= link_to projects_path(@current_user) do %>
                  <span class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Mes Projets</span>
                <% end %>
              </div>
            </form> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                 <li role="presentation" class="dropdown-header"><%= current_user.full_name %></li>
                <li><%= link_to 'Mon compte', edit_user_registration_path %></li>
                <li><%= link_to "Mes Projets", projects_path(@current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-off"></span> Déconnexion
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-nav">
            <li><%= link_to '', new_user_registration_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <%= form_for(:user, :url => session_path(:user), :html => { class: 'navbar-form navbar-left' }) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, :placeholder =>'Email', class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, :placeholder => 'Mot de passe', class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Connexion", class: "btn btn-primary" %>
                </div>
                <%= link_to 'Inscription', new_user_registration_path, class: "btn btn-success" %>
              <% end %>
          </ul>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>